---
languageCode: en-ZA
language: en
title: SAFIRE
theme: twentyfourteen-safire
metaDataFormat: yaml
canonifyURLs: true
enableRobotsTXT: true
disableAliases: true
enableGitInfo: true
params:
  Description: "South African Identity Federation"
googleAnalytics: "UA-88766195-1"
Privacy:
  googleAnalytics:
    RespectDoNotTrack: true

# External menu links & crosslinks
menu:
  main:
  - Name: "SAFIRE"
    Identifier: safire
    URL: /
    Weight: 1
  - Name: "Home Organisations"
    Identifier: users-where-idp
    URL: /participants/idp/list/
    Parent: users-where
  - Name: "Services"
    Identifier: users-where-sp
    URL: /participants/sp/list/
    Parent: users-where

  - Name: "Test Login"
    Identifier: users-help-test
    URL: https://testsp.safire.ac.za/
    Parent: users-help
    Weight: 1
  - Name: "Forget Me"
    Identifier: users-help-forget
    URL: https://iziko.safire.ac.za/module.php/safire/forgetme.php
    Parent: users-help
    Weight: 2

  - Name: "Service Status"
    Identifier: participants-support-status
    URL: https://monitor.safire.ac.za/safire/thruk/cgi-bin/bp.cgi?action=details&minimal=1&bp=1
    Parent: participants-support
    Weight: 1
  - Name: "eduGAIN Connectivity Check Service"
    Identifier: participants-support-eccs
    URL: https://technical.edugain.org/eccs/?registrationAuthority=https%3A%2F%2Fsafire.ac.za
    Parent: participants-support
    Weight: 3

  - Name: "Technical Requirements"
    Identifier: technical-radius-policy
    URL: https://eduroam.ac.za/policy/
    Parent: technical-radius
    Weight: 1
  - Name: "Registration Request Forms"
    Identifier: technical-radius-forms
    URL: https://eduroam.ac.za/policy/
    Parent: technical-radius
    Weight: 2
  - Name: "Management"
    Identifier: technical-radius-manage
    URL: https://eduroam.ac.za/manage/
    Parent: technical-radius
    Weight: 3

  - Name: "Attribute Release Policy"
    Identifier: technical-saml2-arp
    URL: /safire/policy/arp/
    Parent: technical-saml2
    Weight: 4
  - Name: "Metadata Validator"
    Identifier: technical-saml2-validator
    URL: http://validator.safire.ac.za/
    Parent: technical-saml2
    Weight: 6

# Based on https://gohugo.io/news/http2-server-push-in-hugo/
outputs:
 home: [ "HTML", "RSS", "HTACCESS" ]

mediaTypes:
  "text/apache24":
    suffixes: [ "" ]
    delimiter: ""

outputFormats:
  HTACCESS:
    mediatype: text/apache24
    baseName: .htaccess
    isPlainText: true
    notAlternative: true
