{{- $url := urls.Parse .Site.BaseURL -}}
<script src="//cdnjs.cloudflare.com/ajax/libs/tarteaucitronjs/1.8.4/tarteaucitron.js" integrity="sha512-rlm4sjkJk6ej+zEWRUoyU7JxnWJHxwh3ksl+plIfSJqewZXsfZV+AVYYcxzWe+JrDxwsRUc7v8loa6kCjZthHA==" crossorigin="anonymous"></script>
<script>
    /* handle cookie consent */
    tarteaucitron.init({
      "privacyUrl": "{{ ref . "/safire/policy/privacy/_index.md" }}",
      "hashtag": "#cookiesettings",
      "cookieName": "SAFIRE-Cookie-Prefs",
      "orientation": "top",
      "showIcon": false,
      "highPrivacy": false,
      "handleBrowserDNTRequest": false,
      "removeCredit": true,
      "readmoreLink": "{{ ref . "/users/who-why-what.md" }}",
      "cookieDomain": "{{ replaceRE "^([^.])*" "" $url.Host }}",
      "mandatory": true
    });
    tarteaucitron.user.googleFonts = [ 'Lato:300,400,700,900,300italic,400italic,700italic;subset=latin,latin-ext' ];
    (tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');
{{- $pc := .Site.Config.Privacy.GoogleAnalytics -}}
{{ with .Site.GoogleAnalytics }}
{{ if hasPrefix . "G-"}}
    tarteaucitron.user.gtagUa = '{{ . }}';
    tarteaucitron.user.gtagMore = function () { gtag('config', '{{ . }}', { 'anonymize_ip': {{- $pc.AnonymizeIP -}} }); };
    (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
{{ else if hasPrefix . "UA-" }}
    tarteaucitron.user.analyticsUa = '{{ . }}';
    {{- if $pc.AnonymizeIP }}
    tarteaucitron.user.analyticsMore = function () { ga('set', 'anonymizeIp', true); };
    {{ end }}
    (tarteaucitron.job = tarteaucitron.job || []).push('analytics');
{{ end }}
{{ end }}
</script>
