{{- $url := urls.Parse .Site.BaseURL -}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tarteaucitronjs/1.17.0/tarteaucitron.js" integrity="sha512-i7lFMSySkT5XBPzhlcBu9Wawl0mFmLadXJ/jvrik6RvhjZv8o2w+PkVZm/9Iz0WqZ3XOKCo53vRfR98xhs1ytQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    /* handle cookie consent */
    tarteaucitron.init({
      "privacyUrl": "{{ ref . "/safire/policy/privacy/_index.md" }}",
      "hashtag": "#cookiesettings",
      "cookieName": "SAFIRE-Cookie-Prefs",
      "orientation": "top",
      "showIcon": false,
      "highPrivacy": false,
      "handleBrowserDNTRequest": false,
      "removeCredit": true,
      "readmoreLink": "{{ ref . "/users/who-why-what.md" }}",
      "cookieDomain": "{{ lower $url.Host | replaceRE "^(.+\\.)?([^.]+\\.(ac\\.za|local))$" ".$2" }}",
      "mandatory": true
    });
    tarteaucitron.user.googleFonts = [ 'Lato:300,400,700,900,300italic,400italic,700italic;subset=latin,latin-ext' ];
    (tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');
{{- $pc := .Site.Config.Privacy.GoogleAnalytics -}}
{{ with .Site.GoogleAnalytics }}
{{ if hasPrefix . "G-"}}
    tarteaucitron.user.gtagUa = '{{ . }}';
    (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
{{ else if hasPrefix . "UA-" }}
    tarteaucitron.user.analyticsUa = '{{ . }}';
    {{- if $pc.AnonymizeIP }}
    {{ end }}
{{ end }}
    (tarteaucitron.job = tarteaucitron.job || []).push('analytics');
    (tarteaucitron.job = tarteaucitron.job || []).push('youtube');
{{ end }}
</script>
