{{- $logoTitle := .Site.Params.logo.title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}
{{- $logoImage := .Site.Params.logo.image -}}

{{- if $logoImage }}
	{{/* When we have an image, only show the image (no text unless explicitly set) */}}
	<div class="logo">
		<a class="logo__link" href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">
			<div class="logo__item logo__imagebox">
				<img class="logo__img" src="{{ if hasPrefix $logoImage "http" }}{{ $logoImage }}{{ else }}{{ $logoImage | relURL }}{{ end }}" alt="{{ .Site.Title }}">
			</div>
			{{ with $logoTitle -}}
				<div class="logo__item logo__text">
					<div class="logo__title">{{ . }}</div>
					{{ with $logoSubtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
				</div>
			{{- end }}
		</a>
	</div>
{{- else if $logoTitle }}
	{{/* When we only have text, show text */}}
	<div class="logo">
		<a class="logo__link" href="{{ "" | relLangURL }}" title="{{ $logoTitle }}" rel="home">
			<div class="logo__item logo__text">
				<div class="logo__title">{{ $logoTitle }}</div>
				{{ with $logoSubtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
			</div>
		</a>
	</div>
{{- else }}
	{{/* Fallback to site title if nothing is configured */}}
	<div class="logo">
		<a class="logo__link" href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">
			<div class="logo__item logo__text">
				<div class="logo__title">{{ .Site.Title }}</div>
			</div>
		</a>
	</div>
{{- end }}
