{{- if .Site.Menus.main }}
<nav class="menu">
	<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1">{{ T "menu_label" }}</span>
	</button>
	<ul class="menu__list">
		{{- $currentNode := . }}
		{{- range .Site.Menus.main }}
		{{- if .Name }}
		<li class="menu__item{{ if .HasChildren }} menu__item--has-children{{ end }}{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
			<a class="menu__link" href="{{ .URL }}">
				{{ .Pre }}
				<span class="menu__text">{{ .Name }}</span>
				{{ .Post }}
			</a>
			{{- if .HasChildren }}
			<ul class="menu__submenu">
				{{- range .Children }}
				{{- template "menu-item" . }}
				{{- end }}
			</ul>
			{{- end }}
		</li>
		{{- end }}
		{{- end }}
	</ul>
</nav>
{{ else -}}
<div class="divider"></div>
{{- end }}

{{ define "menu-item" }}
	<li class="menu__subitem{{ if .HasChildren }} menu__subitem--has-children{{ end }}">
		<a class="menu__sublink" href="{{ .URL }}">{{ .Name }}</a>
		{{- if .HasChildren }}
		<ul class="menu__submenu">
			{{- range .Children }}
				{{- template "menu-item" . }}
			{{- end }}
		</ul>
		{{- end }}
	</li>
{{ end }}
