{{- $url := urls.Parse .Site.BaseURL -}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tarteaucitronjs/1.25.0/tarteaucitron.min.js" integrity="sha512-QY/3KDBDJq8yZV+NV0/3q4Vj3SFMZqbhUoxytFox67xuWEvfODLz+T6tWicSz/JvFkreFPsGLSln/TZIBuXhvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    /* handle cookie consent */
    tarteaucitron.init({
      "privacyUrl": "{{ ref . "/safire/policy/privacy/_index.md" }}",
      "hashtag": "#cookiesettings",
      "cookieName": "SAFIRE-Cookie-Prefs",
      "orientation": "top",
      "showIcon": false,
      "highPrivacy": false,
      "handleBrowserDNTRequest": {{ .Site.Config.Privacy.GoogleAnalytics.RespectDoNotTrack | default "false" -}},
      "removeCredit": true,
      "readmoreLink": "{{ ref . "/users/who-why-what.md" }}",
      "cookieDomain": "{{ lower $url.Host | replaceRE "^(.+\\.)?([^.]+\\.(ac\\.za|local))$" ".$2" }}",
      "mandatory": true
    });
    tarteaucitron.user.googleFonts = [ 'Lato:300,400,700,900,300italic,400italic,700italic;subset=latin,latin-ext' ];
    (tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');
{{- if not .Site.Config.Privacy.GoogleAnalytics.Disable }}
  {{- with .Site.Config.Services.GoogleAnalytics.ID }}
    {{- if strings.HasPrefix (lower .) "ua-" }}
      {{- warnf "Google Analytics 4 (GA4) replaced Google Universal Analytics (UA) effective 1 July 2023. See https://support.google.com/analytics/answer/11583528. Create a GA4 property and data stream, then replace the Google Analytics ID in your site configuration with the new value." }}
    {{- else }}
    tarteaucitron.user.gtagUa = '{{ . }}';
    (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
    {{- end }}
  {{- end }}
{{- end }}
    (tarteaucitron.job = tarteaucitron.job || []).push('youtube');
</script>
