<!-- partial: content -->
<article class="post type-post status-publish format-standard hentry">
    <!-- .entry-header -->
    <header class="entry-header">
        <h1 class="entry-title">{{ .Title }}</h1>
        {{ partial "entry-meta.html" . }}
    </header>
    
    <div class="entry-content">
        {{ .Content }}
    </div><!-- .entry-content -->

    <footer class="entry-meta">
        <span class="tag-links">        
            {{ range .Params.tags }}
                <a href="{{ relURL (printf "/tags/%s/" (lower . | urlize)) }}" rel="tag">{{ . }}</a>
            {{ end }}
        </span>
    </footer>
</article> <!-- #post-## -->
<!-- end partial: content -->
