<!-- partial: entry-meta -->
<div class="entry-meta">
    <span class="entry-date">
        <a href="{{ .Permalink }}" rel="bookmark" title="Permalink">
        {{- if findRE "/participants/(idp|sp)/list/" .RelPermalink }}
        {{- $t := time .Site.Data.safire.lastMod}}
            <time class="entry-date" datetime="{{ $t.UTC.Format "2006-01-02T15:04:05Z" }}">
                {{- $t.Local.Format "2006-01-02"  }}
            </time>
        {{- else if findRE "/technical/resources/library-services/" .RelPermalink }}
        {{- $t := time .Site.Data.libraries.lastMod}}
            <time class="entry-date" datetime="{{ $t.UTC.Format "2006-01-02T15:04:05Z" }}">
                {{- $t.Local.Format "2006-01-02"  }}
            </time>
        {{- else }}
            <time class="entry-date" datetime="{{ (.PublishDate |default .Date).UTC.Format "2006-01-02T15:04:05Z" }}">
                {{- (.PublishDate |default .Date).Local.Format "2006-01-02" -}}
            </time>
        {{- end }}
        </a>
    </span>
    {{- if .GitInfo }}
    <span class="byline">
        <span class="author vcard">
          <a rel="author" title="{{ .GitInfo.AuthorName|htmlEscape }}">
            {{- replaceRE "^([^@]+)@.*$" "$1" .GitInfo.AuthorEmail -}}
          </a>
        </span>
    </span>
    <span class="edit-link" aria-hidden="true">
        <a title="{{ .GitInfo.Subject  }} [{{ .GitInfo.AuthorDate.Local.Format "2006-01-02" }}]" href="https://github.com/safire-ac-za/safire-ac-za.github.io/blob/{{ .GitInfo.Hash|urlize }}/content/{{ .File.Path }}" rel="nofollow noopener" target="_blank">
            {{- .GitInfo.AbbreviatedHash -}}
        </a>
    </span>
    {{- end }}
</div><!-- .entry-meta -->
<!-- end partial: entry-meta -->
