<!DOCTYPE html>
{{ if .GitInfo }}{{ "<!--"|safeHTML }}
  src: {{ .File.Path }}
  unique id: {{ .File.UniqueID }}
  commit: {{ .GitInfo.Hash }}
{{ "-->"|safeHTML }}{{ end -}}
<html class="no-js" lang="{{ .Site.Language.Lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="creator" content="South African Identity Federation">
	<meta name="theme-color" content="#5da9dd">
	{{ with .Page.Keywords }}<meta name="keywords" content="{{.}}">{{ end -}}
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">

	{{- if .Site.Params.opengraph }}
		{{ template "_internal/opengraph.html" . }}
	{{- end }}
	{{- if .Site.Params.schema }}
		{{ template "_internal/schema.html" . }}
	{{- end }}
	{{- if .Site.Params.twitter_cards }}
		{{ template "_internal/twitter_cards.html" . }}
	{{- end }}

	{{- $googleFontsLink := .Site.Params.googleFontsLink | default "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" }}
	{{- if hasPrefix $googleFontsLink "https://fonts.googleapis.com/" }}
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link rel="dns-prefetch" href="https://fonts.gstatic.com">
	<link rel="stylesheet" {{ printf `href="%s"` $googleFontsLink | safeHTMLAttr }}>
	{{- end }}

	<!-- library specific styles -->
	<link rel='dns-prefetch' href='https://cdnjs.cloudflare.com'>
	<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
	<link rel='stylesheet' href='{{ relURL "/css/jquery-ui.css" }}' type='text/css' media='all'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github.min.css" integrity="sha512-0aPQyyeZrWj9sCA46UlmWgKOP0mUipLQ6OZXu8l4IcAmD2u31EPEy9VcIMvl7SoAaKe8bLXZhYoMaE/in+gcgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/genericons/3.1/genericons.min.css" integrity="sha512-YFEHzmYYA+rfkaiT3gCuwHwEy+omzHyKLOJ1Pe/TAVmz3iSXwGgO4XgOq5zzL2eTYr3omXmdWR+45Swcp7J8rA==" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link href='https://static.safire.ac.za' crossorigin rel='preconnect'>

	{{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ $safireStyle := resources.Get "css/safire.css" | resources.ExecuteAsTemplate "css/safire.css" . -}}
	{{ if $safireStyle }}
	<link rel="stylesheet" href="{{ $safireStyle.RelPermalink }}">
	{{- end }}
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}

	{{- with .OutputFormats.Get "rss" }}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<link rel="license" href="https://creativecommons.org/licenses/by/4.0/">
	<link rel="icon" type="image/icon" href="//static.safire.ac.za/favicons/favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="//static.safire.ac.za/favicons/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="//static.safire.ac.za/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="72x72" href="//static.safire.ac.za/favicons/favicon-72x72.png">
	<link rel="icon" type="image/png" sizes="150x150" href="//static.safire.ac.za/favicons/favicon-150x150.png">
	{{- $server := "" }}
	{{- if gt (int (index (split hugo.Version ".") 1)) "120" }}
		{{ $server = hugo.IsServer }}
	{{- else }}
		{{ $server = .Site.IsServer }}
	{{- end -}}
	{{- if not $server }}
		{{ template "_internal/google_analytics.html" . }}
	{{- end }}
</head>
<body class="body{{ if .Draft }} status__draft{{ end }}">
	<div class="container container--outer">
		{{ block "header" . }}{{ partial "header.html" . }}{{ end }}
		<div class="wrapper flex">
			<div class="primary">
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ block "sidebar" . }}{{ partial "sidebar.html" . }}{{ end }}
		</div>
		{{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
	</div>
<script async defer src="{{ "js/menu.js" | relURL }}"></script>
{{ range .Site.Params.customJS -}}
<script src="{{ . | relURL }}"></script>
{{- end }}
{{- partial "mathjax.html" . -}}

<!-- SAFIRE specific scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.5.2/jquery-migrate.min.js" integrity="sha512-BzvgYEoHXuphX+g7B/laemJGYFdrq4fTKEo+B3PurSxstMZtwu28FHkPKXu6dSBCzbUWqz/rMv755nUwhjQypw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js" integrity="sha512-MSOo1aY+3pXCOCdGAYoBZ6YGI0aragoQsg1mKKBHXCYPIWxamwOE7Drh+N5CPgGI5SA9IEKJiPjdfqWFWmZtRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js" integrity="sha512-EBLzUL8XLl+va/zAsmXwS7Z2B1F9HUHkZwyS/VKwh3S7T/U0nF4BaU29EP/ZSf6zgiIxYAnKLu6bJ8dqpmX5uw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/powershell.min.js" integrity="sha512-J5RVPDNPGNQPjzhjtYPsrLHTX/7GPhPU1AvmyCo/hjKWBecwfX6ByD0oG/NAS5VU3hwk8A/DVVxjXm4ZEBJwhg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">hljs.highlightAll();</script>
<script type="text/javascript" src="{{ relURL "/js/functions.js" }}"></script>
{{ partial "tarteaucitron.html" . }}
</body>
</html>
