{{ define "main" }}
<main class="main list" role="main">
	{{- with .Title }}
	<header class="main__header">
		<h1 class="main__title">{{ . }}</h1>
	</header>
	{{- end }}
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}
	{{ if .Params.section_list | default $.Site.Params.section_lists | default true }}
	{{- range .Paginator.Pages }}
		{{- if .Params.hidden | default false }}
			{{ continue }}
		{{- end }}
		{{- .Render "summary" }}
	{{- end }}
	{{- end }}
</main>
{{ partial "pagination.html" . }}
{{ end }}