<span class="citation" role="cite" itemtype="http://schema.org/CreativeWork" itemscope>
	{{- $url := .Get "url" -}}
	{{- $title := .Get "title" -}}
	{{- $author := dict "last" (.Get "last") "first" (.Get "first") "orcid" (.Get "orcid") -}}
	{{- $author1 := dict "last" (.Get "last1") "first" (.Get "first1") "orcid" (.Get "orcid1") -}}
	{{- $author2 := dict "last" (.Get "last2") "first" (.Get "first2") "orcid" (.Get "orcid2") -}}
	{{- $author3 := dict "last" (.Get "last3") "first" (.Get "first3") "orcid" (.Get "orcid3") -}}
	{{- $authors := dict "0" $author "1" $author1 "2" $author2 "3" $author3 -}}
	{{- $date := .Get "date" -}}
	{{- $event := .Get "event" -}}
	{{- $eventUrl := .Get "event-url" -}}
	{{- $eventDate := .Get "event-date"| default $date -}}
	{{- $location := .Get "location" }}
	<span class="citation-authors">
		{{- range $authors }}{{- if .last }}
		<span class="citation-author" itemprop="http://schema.org/author" itemtype="http://schema.org/Person" itemscope>
			{{- with .orcid }}<a href="{{.}}" itemprop="url">{{ end }}
			<span class="citation-author-surname" itemprop="familyName">{{ .last }}</span>,
			<span class="citation-author-givenName" itemprop="givenName" title="{{ .first }}">{{ range split .first " " }}{{ substr . 0 1|upper }}{{ end }}</span>
			{{- if .orcid }}&nbsp;<img alt="" title="ORCID iD" src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="font-size:13px; width:16px; height:16px"></a>{{ end }}.
		</span>, <!-- .citation-author -->
		{{- end }}{{- end }}
	</span> <!-- .citation-authors -->
	(<time class="citation-date" itemprop="http://schema.org/dateCreated" datetime="{{ dateFormat "2006-01-02T15:04:05Z" $date }}">{{ substr (dateFormat "2006-01-02" $date) 0 4 }}</time>).
	{{ with $url }}<a class="citation-url" rel="alternate" href="{{.}}" itemprop="http://schema.org/url">{{ end }}"<span class="citation-title" itemprop="http://schema.org/name">{{ $title }}</span>"{{ if $url }}</a>{{ end }}.
	{{- if or $event $location }}
	<span class="citation-event" itemtype="http://schema.org/Event" itemscope>
	{{- with $event }}At
	{{ with $eventUrl }}<a href="{{.}}" itemprop="http://schema.org/url">{{ end -}}<em class="citation-event-name" itemprop="http://schema.org/name">{{.}}</em>{{ if $eventUrl }}</a>{{ end -}}{{ if $location }}, {{ end -}}{{ end -}}
	{{ with $location }}<span class="citation-event-location" itemprop="http://schema.org/location">{{.}}</span>{{ end }}.
	{{ if $event }}<time class="citation-event-date" itemprop="http://schema.org/startDate" datetime="{{ dateFormat "2006-01-02T15:04:05Z" $eventDate }}">{{ dateFormat "_2 January 2006" $eventDate }}</time>.{{ end -}}
	</span> <!-- .citation-event -->
	{{- end }}
</span> <!-- .citation -->
