{{/* last fees update: Oct 2024 */}}
{{- $EffectiveYear := 2025 -}}
{{- $SAMLcostPerFTE := 7.60 -}}
{{- $RADIUScostPerFTE := 1.36 -}}
<style>
  .fees-radius { display: none; }
  .fees-saml2 { display: none; }
</style>
<script>
    // https://www.c-sharpcorner.com/UploadFile/cd7c2e/get-values-from-query-string-using-jquery/
    function GetParameterValues(param) {
        var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < url.length; i++) {
            var urlparam = url[i].split('=');
            if (urlparam[0] == param) {
                return urlparam[1];
            }
        }
    }

    $(document).ready(function() {
        var show = [ window.top.location.hash.substring(1), GetParameterValues('show')  ];
        show = show.find((element) => !! element);
        if (show) {
            console.log(show);
            show = show.split(',');
            console.log(show);
            var colspan = 0;
            if (show.includes('saml') || show.includes('saml2') || show.includes('all')) {
                $('.fees-saml2').show();
                colspan++;
            } else {
                $('.fees-saml2').hide();
            }
            if (show.includes('radius') || show.includes('eduroam') || show.includes('all')) {
                $('.fees-radius').show();
                colspan++;
            } else {
                $('.fees-radius').hide();
            }
            $('.fees #fees-profile').attr('colspan', colspan);
        } else {
            $('.fees-saml2').hide();
            $('.fees-radius').hide();
            $('.fees #fees-profile').hide();
        }
    });
</script>
<blockquote class="message-box error fees-saml2 fees-radius">
<p>The pricing shown was indicative VAT exclusive annual pricing prior to 2025, and is no longer updated. <strong>Please contact us for a  quote.</strong></p>
<p>See <a href="https://eduroam.ac.za/faq/costs/">the eduroam costs page</a> for information about RADIUS/EAP (<span class="eduroam">eduroam</span>).</p>
</blockquote>
<table class="fees idp" id="idp-fees">
    <thead>
        <tr>
            <th rowspan="2">Tier</th>
            <th rowspan="2">FTE Band</th>
            <th id="fees-profile" colspan="2">Technology Profile</th>
            <th rowspan="2">Effective Max Discount</th>
        </tr>
        <tr>
            <th class="fees-saml2">SAML2</th>
            <th class="fees-radius">RADIUS/EAP (<span class="eduroam">eduroam</span>)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>0&ndash;500</td>
            <td class="fees-saml2">R {{lang.FormatNumberCustom 0 (mul 500 $SAMLcostPerFTE) "-|,| " "|"}}</td>
            <td class="fees-radius">R {{lang.FormatNumberCustom 0 (mul 500 $RADIUScostPerFTE) "-|,| " "|"}} &Dagger;</td>
            <td>-</td>
        </tr>
        <tr>
            <td>2</td>
            <td>501&ndash;1&nbsp;000</td>
            <td class="fees-saml2">R {{lang.FormatNumberCustom 0 (mul 1.8 (mul 500 $SAMLcostPerFTE)) "-|,| " "|"}}</td>
            <td class="fees-radius">R {{lang.FormatNumberCustom 0 (mul 1.8 (mul 500 $RADIUScostPerFTE)) "-|,| " "|"}}</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>3</td>
            <td>1&nbsp;001&ndash;2&nbsp;500</td>
            <td class="fees-saml2">R {{lang.FormatNumberCustom 0 (mul 4.25 (mul 500 $SAMLcostPerFTE)) "-|,| " "|"}}</td>
            <td class="fees-radius">R {{lang.FormatNumberCustom 0 (mul 4.25 (mul 500 $RADIUScostPerFTE)) "-|,| " "|"}}</td>
            <td>15%</td>
        </tr>
        <tr>
            <td>4</td>
            <td>2&nbsp;501&ndash;5&nbsp;000</td>
            <td class="fees-saml2">R {{lang.FormatNumberCustom 0 (mul 8 (mul 500 $SAMLcostPerFTE)) "-|,| " "|"}}</td>
            <td class="fees-radius">R {{lang.FormatNumberCustom 0 (mul 8 (mul 500 $RADIUScostPerFTE)) "-|,| " "|"}}</td>
            <td>20%</td>
        </tr>
        <tr>
            <td>5</td>
            <td>5&nbsp;001&ndash;10&nbsp;000</td>
            <td class="fees-saml2">R {{lang.FormatNumberCustom 0 (mul 15 (mul 500 $SAMLcostPerFTE)) "-|,| " "|"}}</td>
            <td class="fees-radius">R {{lang.FormatNumberCustom 0 (mul 15 (mul 500 $RADIUScostPerFTE)) "-|,| " "|"}}</td>
            <td>25%</td>
        </tr>
        <tr>
            <td>6</td>
            <td>10&nbsp;001&ndash;15&nbsp;000</td>
            <td class="fees-saml2">R {{lang.FormatNumberCustom 0 (mul 21 (mul 500 $SAMLcostPerFTE)) "-|,| " "|"}}</td>
            <td class="fees-radius">R {{lang.FormatNumberCustom 0 (mul 21 (mul 500 $RADIUScostPerFTE)) "-|,| " "|"}}</td>
            <td>30%</td>
        </tr>
        <tr>
            <td>7</td>
            <td>15&nbsp;001&ndash;30&nbsp;000</td>
            <td class="fees-saml2">R {{lang.FormatNumberCustom 0 (mul 36 (mul 500 $SAMLcostPerFTE)) "-|,| " "|"}}</td>
            <td class="fees-radius">R {{lang.FormatNumberCustom 0 (mul 36 (mul 500 $RADIUScostPerFTE)) "-|,| " "|"}}</td>
            <td>40%</th>
        </tr>
        <tr>
            <td>7+</td>
            <td>&gt; 30&nbsp;000</td>
            <td class="fees-saml2">+ R {{lang.FormatNumberCustom 0 (mul 3 (div (mul 500 $SAMLcostPerFTE) 8)) "-|,| " "|"}} per additional 1&nbsp;000 FTE over 30&nbsp;000</td>
            <td class="fees-radius">+ R {{lang.FormatNumberCustom 0 (mul 3 (div (mul 500 $RADIUScostPerFTE) 8)) "-|,| " "|"}} per additional 1&nbsp;000 FTE over 30&nbsp;000</td>
            <td>&ge; 45%</td>
        </tr>
    </tbody>
</table>
