{{- with .Get "file" }}
<div class="gde-frame">
	<iframe src="//docs.google.com/viewer?hl=en_GB&embedded=true&{{ querify "url" (absURL .)|safeURL }}" class="gde-frame" style="width:100%; height:500px; border:none; overflow:hidden;"></iframe>
	<p style="text-align:center" class="gde-links">
		<a href="{{ relURL . }}" target="_blank" download><button>Download</button></a>
		<a href="//docs.google.com/viewer?hl=en_GB&{{ querify "url" (absURL .)|safeURL }}" target="_blank"><button>Open at Google</button></a>
	</p>
</div>
{{- end }}
