<!-- uses stringOrArray and hyperlinkIfNeeded defined in participantlist.html -->
<!-- this is a counter used for button indices -->
{{- $.Scratch.Set "i" 0 -}}
<style>
.library-status-green { background-color:#0f3; }
.library-status-yellow { background-color:#ffde00; }
.library-status-red { background-color:#ff5b33; }
.library-status.library-status-unknown { background:repeating-linear-gradient(45deg,transparent,transparent 3px,#f6f6f6 3px,#f6f6f6 6px),#cccccc; }
.library-status { float:right; width:1em; }
</style>
<div id="participantList" class="ui-accordion ui-widget ui-helper-reset">
{{- range $p := .Site.Data.libraries.Providers }}
    <h3 data-name="{{ $p.Name|urlize }}" data-tabindex="{{ ($.Scratch.Get "i") }}" class="ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons">
        {{ $p.Name }}
    <span class="library-status library-status-{{ $p.StatusColour|default "unknown" }}">&nbsp;</span>
    </h3>
    <div id="participantdetail-{{ printf "%03d" ($.Scratch.Get "i") }}" style="display:none;" class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content">
        <dl class="participantDetail">
            {{- if $p.Status }}
            <dt>Status</dt>
                <dd class="library-status-{{ $p.StatusColour|default "unknown" }}">{{ $p.Status }}</dd>
            {{- end }}

            {{- if $p.LoginLink }}
            <dt>Login link terminology</dt>
                <dd>{{ $p.LoginLink|markdownify }}</dd>
            {{- end }}

            {{- if $p.Notes }}
            <dt>Notes</dt>
                <dd>{{ $p.Notes|markdownify }}</dd>
            {{- end }}
        </dl><hr class="participantSeparator">
        <dl class="participantTechnical">
            {{- if $p.Documentation }}
            <dt>Documentation</dt>
                <dd>{{ template "stringOrArray" $p.Documentation }}</dd>
            {{- end }}
            {{- if $p.AuthAttribute }}
            <dt>Authorization attribute(s)</dt>
                <dd>{{ template "stringOrArray" $p.AuthAttribute }}</dd>
            {{- end }}
        </dl>
    </div>
    {{- $.Scratch.Add "i" 1 -}}
{{- end }}
</div>
<script>
    $(document).ready(function()
    {
        var p = $('#participantList')
        if (p.accordion('instance')) {
            p.accordion('option', 'active', false);
            p.accordion('refresh');
        } else {
            p.accordion({'collapsible': true, 'active': false});
            p.bind('accordionactivate', function (event, ui)
            {
                if (!$.isEmptyObject(ui.newHeader.offset())) {
                    $('html:not(:animated), body:not(:animated)').animate({scrollTop: ui.newHeader.offset().top - 50}, 'fast');
                }
            });
        }
		// allow us to pre-open a tab
		if (window.location.hash) {
			if ($.isNumeric(window.location.hash.substring(1))) {
				p.accordion('option', 'active', parseInt(window.location.hash.substring(1)));
			} else if(t = $(this).find('[data-name="' + window.location.hash.substring(1) + '"]')) {
				p.accordion('option', 'active', t.data('tabindex'));
			}
		}
    });
</script>
